body {
  background-color: #FFDEDE;
}
.search-box {
  width: 600px;
  height: 40px;
  background-color: pink;
  border-radius: 10px;
  display: inline-block;
  border-color: white;
}

.search-label {
  display: inline-block;
  margin-right: 10px;
}
